@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  line-height: 1.5;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, outline 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.downloadBtn {
  text-decoration: none;
  background-color: rgb(67, 64, 64);
  color: var(--color-text);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, outline 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}


.contactBtn:hover {
  background-color: var(--color-primary-dark);
  outline: 2px solid white;
  box-shadow: 0 0 10px white;
  transform: translateY(-3px);
}

.downloadBtn:hover {
  background-color: rgb(33, 32, 32);
  outline: 2px solid white;
  box-shadow: 0 0 10px white;
  transform: translateY(-3px);
}

.contactBtn:active {
  transform: translateY(1px);
}

.downloadBtn:active {
  transform: translateY(1px);
} 

.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .content {
    align-items: center;
  }

  .contactBtn,
  .downloadBtn {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    font-size: 67px;
  }

  .description {
    font-size: 27px;
  }
}
