@import "../../vars.css";

.container {
  background-color: var(--color-dark);
  color: var(--color-text);
  padding: 20px 5%; /* Adjust padding for smaller content spacing */
  text-align: center;
  position: relative;
  min-height: 50vh; /* Adjust minimum height */
  width: 100%; /* Set a fixed width */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h2 {
  font-size: 36px; /* Adjust font size for a more compact look */
  font-weight: 700;
  margin-bottom: 15px; /* Adjust margin for tighter spacing */
}

.text p {
  font-size: 20px; /* Adjust font size for a more compact look */
  margin-bottom: 20px; /* Adjust margin for tighter spacing */
}

.heading {
  margin-bottom: 40px; /* Adjust margin for a more compact look */
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust gap for tighter spacing */
  margin-bottom: 20px; /* Adjust margin for tighter spacing */
}

.link {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust gap for tighter spacing */
}

.link a  {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px; /* Adjust font size for a more compact look */
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.link a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.link img {
  width: 20px; /* Adjust size for a more compact look */
  height: 20px; /* Adjust size for a more compact look */
  margin-top: 20px;
}

.footerNav {
  margin-top: 60px; /* Adjust margin for a more compact look */
}

.navLinks {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjust gap for tighter spacing */
}

.navLinks li a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px; /* Adjust font size for a more compact look */
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
}

.navLinks li a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.footerText {
  margin-top: 40px; /* Adjust margin for a more compact look */
  font-size: 14px; /* Adjust font size for a more compact look */
  color: var(--color-text);
}

.text {
  display: inline; /* Default visibility */
}

.text1 {
  margin-top: 32px;
}


@media screen and (max-width: 830px) {
  .text1 {
    display: none; /* Hide text on smaller screens */
  }

  .link img {
    width: 24px; /* Adjust size if needed */
    height: 24px; /* Adjust size if needed */
  }
}

@media screen and (max-width: 480px) {
  .link img {
    width: 20px; /* Adjust size if needed */
    height: 20px; /* Adjust size if needed */
  }
}
